.side_nav {
    /* background: #000;
    width: 50%;
    height: 100%; */
    position: fixed;
    left: -100%;
    z-index: 1;
    top: 0;
    /* padding: 4.9rem 0;
    overflow-x: hidden;
    text-align: center; */
    transition: 0.7s;
}

.side_nav.activ {
    left: 0;
}

.divider_line {
    border: none;
    background-color: #666;
    height: 1px;
}

/***user image style****/
.user_image {
    width: 180px;
    height: 180px;
}

@media only screen and (max-width: 576px) {
    .user_image {
        width: 120px;
        height: 120px;
    }
}

/********drayer height******/
.drawer_height {
    min-height: 560px;
}